.logo {
    height: 80px;
    width: 150px;
}

#header {
    background-color: #000000;
}

#navbar {
    background-color: #62c524;
    ;
}

#Oferta {
    background-color: #1d8628;
}

#footer {
    background-color: #000000;
}

.card-img-top {
    height: 450;
    width: 300;
    object-fit: contain;
}