@model List<LojaConecta.Models.Produto>
@{
    ViewData["Title"] = "Home";
}

        <!-- Header-->
        <header class="py-5" id="header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Compre sem medo!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Aqui na Loja Conecta você encontra diversos tipos de aparelhos eletrônicos</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (Produto produto in Model)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="~/img/produtos/Monitor 1/foto1.png" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Monitor Gamer Mancer Horizon Z2, 21.5 Pol, VA, FHD, 100Hz, 1ms, HDMI/VGA, MCR-HZN21-BL2</h5>
                                        <!-- Product price-->
                                        <span class="text-muted text-decoration-line-through">R$ 611,75</span>
                                        R$ 459,99
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Ver Opções</a></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>