<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Loja Conecta</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <div class="container px-4 px-lg-5">
                <a href="index.html"><img class="logo" src="img/Loja Conecta 2.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Sobre</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Loja</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Todos os Produtos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Populares</a></li>
                                <li><a class="dropdown-item" href="#!">Novidades</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-light" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Carrinho
                            <span class="badge bg-white text-dark ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5" id="header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Compre sem medo!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Aqui na Loja Conecta você encontra diversos tipos de aparelhos eletrônicos</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/Monitor 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Monitor Gamer Mancer Horizon Z2, 21.5 Pol, VA, FHD, 100Hz, 1ms, HDMI/VGA, MCR-HZN21-BL2</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 611,75</span>
                                    R$ 459,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Ver Opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge text-white position-absolute" style="top: 0.5rem; right: 0.5rem" id="Oferta">Oferta</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/Monitor 2.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Monitor Gamer Mancer Horizon Z2, 24 Pol, VA, FHD, 100Hz, 1ms, HDMI/VGA, MCR-HZN24-BL2</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"> (8)</div>
                                    </div>
                                    <!-- Product price-->
                                    R$ 554,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Adicionar ao Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge text-white position-absolute" style="top: 0.5rem; right: 0.5rem" id="Oferta">Oferta</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/PDVideo 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Placa de Video Mancer Radeon RX 580 Streaky, 8GB, GDDR5, 256-bit, MCR-RX5808GB-STKV1</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 1.762,03</span>
                                    R$ 769,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Adicionar ao Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/Cadeira 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Cadeira Gamer TGT Heron TC, Espuma Moldada, Preto e Cinza, TGT-HRTC-BL02</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"> (103)</div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 647,05</span>
                                    R$ 479,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Adicionar ao Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge text-white position-absolute" style="top: 0.5rem; right: 0.5rem" id="Oferta">Oferta</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/SSD 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SSD Kingston NV3, 1TB, M.2 2280, PCIe NVMe, Leitura 6000MB/s, Gravacao 4000MB/s, SNV3S-1000G</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 729,40</span>
                                    R$ 519,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Adicionar ao Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/PMãe 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Placa Mae Pichau B550M K, DDR4, Socket AMD AM4, M-ATX, Chipset AMD B550, B550M-K-1P</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 941,16</span>
                                    R$ 499,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Ver Opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge text-white position-absolute" style="top: 0.5rem; right: 0.5rem" id="Oferta">Oferta</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/Processador 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Processador AMD Ryzen 7 5700G, 8-Core, 16-Threads, 3.8GHz (4.6GHz Turbo), Cache 20MB, AM4, 100-100000263BOX</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"> (26)</div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 2.117,64</span>
                                    R$ 1.049,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Adicionar ao Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="img/produtos/Gabinete 1.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Gabinete Gamer Mancer CV100 Purple Edition, ARGB, Mid-Tower, Lateral De Vidro, Com 3 Fans, Preto, MCR-CV100-PEB</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"></div>
                                        <div class="bi-star-fill" style="color: #62c524;"> (21)</div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">R$ 447,05</span>
                                    R$ 259,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Adicionar ao Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5" id="footer">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Loja Conecta 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
